*, html,body {
	font-family: "Open Sans",sans-serif;
	background-color: black;
	color: white;
	}

h1,h2,h3,h4,h5,h6 {
	color: white;
}

i {
	color: white;
}

#mySidebar {
	background-color: black;
}


.hover-effect {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: .5;
  transition: 0.5s;
}

.hover-effect:hover {
	opacity: 1;
	}

/* Links */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}
